In [1]:
import numpy as np
import pandas as pd

In [15]:
df_Ratings=pd.read_csv('BX-Book-Ratings.csv',sep=';',error_bad_lines=False,encoding='latin-1')
df_Books=pd.read_csv('BX-Books.csv',sep=';',error_bad_lines=False,encoding='latin-1')
df_User=pd.read_csv('BX-Users.csv',sep=';',error_bad_lines=False,encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/home/vivek/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df_Ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [18]:
df_User.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [20]:
df_Books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [22]:
#df1.merge(df2,on='name').merge(df3,on='name')
df_merge=df_Books.merge(df_Ratings,on='ISBN').merge(df_User,on='User-ID')

In [23]:
df_merge.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN

In [28]:
#Remove extra columns that are of no use for recommendation.
df_merge.drop(['Image-URL-S','Image-URL-M','Image-URL-L'],axis=1,inplace=True)

KeyError: "labels ['Image-URL-S' 'Image-URL-M' 'Image-URL-L'] not contained in axis"

In [29]:
df_merge.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,8,0,"timmins, ontario, canada",NaN

In [31]:
#Grouped data on the basis of title ratings.
df_merge.groupby('Book-Title')['Book-Rating'].mean().sort_values(ascending=False).head()

Book-Title
Civil Rights Actions: Enforcing the Constitution (University Casebook)                                              10.0
FAR/AIM 2004: Federal Aviation Regulations/Aeronautical Information Manual (FAR series)                             10.0
What Followers Expect from Leaders : How to Meet People's Expectations and Build Credibility (Management Series)    10.0
FAR/AIM 2003: Federal Aviation Regulations/Aeronautical Information Manual (FAR series)                             10.0
Lewis and Clark: Voyage of Discovery (Voyage of Discovery)                                                          10.0
Name: Book-Rating, dtype: float64

In [35]:
ratings=pd.DataFrame(df_merge.groupby('Book-Title')['Book-Rating'].mean())

In [36]:
ratings['num of ratings']=df_merge.groupby('Book-Title')['Book-Rating'].count()

In [37]:
ratings.head(5)

,Book-Rating,num of ratings
Book-Title,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",2.25,4
Always Have Popsicles,0.00,1
Apple Magic (The Collector's series),0.00,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",8.00,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,0.00,1

In [54]:
Books_reco=df_merge.head(30000).pivot_table(index='User-ID',columns='Book-Title',values='Book-Rating')

In [55]:
Books_reco.head(5)

Book-Title,"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750",LA Gallinita Roja/the Little Red Hen,Murder of a Sleeping Beauty (Scumble River Mysteries (Paperback)),!Arriba! Comunicacion y cultura,!Yo!,'A Hell of a Place to Lose a Cow': An American Hitchhiking Odyssey,'Eine gute Frau hat keinen Kopf'. EuropÃ?Â¤ische SprichwÃ?Â¶rter Ã?Â¼ber Frauen.,"'Til We Meet Again (The Circle) (Silhouette Shadows, No 60)",'Twas the Night Before Christmas,"'night, Mother : A Play (Mermaid Dramabook)",...,schÃ?Â¶ner wohnen.doc. Ein WG- Roman.,stardust,"street bible, the","wet sand, raven tracks",whataboutrick.com: a poetic tribute to Richard A. Ricci,"Â¡Corre, perro, corre!","Â¿QuÃ© me quieres, amor?",Ã?Â?ber das Fernsehen.,Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,Ã?Â?lpiraten.
User-ID,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11676,NaN,NaN,0.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,7.0,8.0,9.0,8.0,5.0,10.0,0.0,8.0,0.0,0.0

In [56]:
similar_to_wars=Books_reco.corrwith(Books_reco)

In [58]:
similar_to_wars.head(20)

Book-Title
 Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750                                                1.0
 LA Gallinita Roja/the Little Red Hen                                                                                                  NaN
 Murder of a Sleeping Beauty (Scumble River Mysteries (Paperback))                                                                     NaN
!Arriba! Comunicacion y cultura                                                                                                        NaN
!Yo!                                                                                                                                   NaN
'A Hell of a Place to Lose a Cow': An American Hitchhiking Odyssey                                                                     NaN
'Eine gute Frau hat keinen Kopf'. EuropÃ?Â¤ische SprichwÃ?Â¶rter Ã?Â¼ber Frauen.                                                       NaN
'Til We Meet Again (The Circle) (Silhouette Shadows, No 60)                                                                            NaN
'Twas the Night Before Christmas                                                                                                       NaN
'night, Mother : A Play (Mermaid Dramabook)                                                                                            NaN
'til the Real Thing Comes Along                                                                                                        NaN
01-01-00: A Novel of the Millennium                                                                                                    NaN
01-01-00: The Novel of the Millennium                                                                                                  1.0
1, 2, 3, Music!                                                                                                                        NaN
1,001 Old-Time Garden Tips: Timeless Bits of Wisdom on How to Grow Everything Organically, from the Good Old Days When Everyone Did    NaN
1,003 Great Things About Kids                                                                                                          NaN
1,401 More Things That P*Ss Me Off                                                                                                     NaN
10 Secrets for Success and Inner Peace                                                                                                 NaN
10,000 Things to Praise God for                                                                                                        NaN
100 Best-Loved Poems (Dover Thrift Editions)                                                                                           NaN
dtype: float64